
.best-lineup-page .best-lineup-page-infos {
    text-align: center;
}


.best-lineup-page .best-lineup-page-infos h2 {
    color: rgb(30, 30, 70);
    margin-bottom: 2px;
}

.best-lineup-page .best-lineup-page-infos p {
    font-size: 12px;
    margin-top: 2px;
}

.best-lineup-page .lineup-selectors {
    display: flex;
    justify-content: center;
}

