

.scarcity-selector {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scarcity-selector label {
    border: solid 1px black;
    padding: 5px;
    margin-right: 10px;
    width: 100px;
    text-align: center;
}