/*SCARCITY SELECTOR*/

.scarcity-selector {
    background-color: rgb(243, 246, 253);
    padding: 10px;
    margin-left: 10px;
    
    border: solid 1px gray;
    border-radius: 10px;
    
    display: flex;
    justify-content: flex-start;

    width: 600px;

}

.scarcity-selector button {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    padding: 5px;
}


/*BUTTONS*/

/*LIMITED*/

.limited-button-on {
    background-color: rgb(254, 233, 72);
    border: solid 2px rgb(254, 233, 72);

    color: white;
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}

.limited-button-off {
    background-color: white;
    color: rgb(254, 233, 72);
    border: solid 2px rgb(254, 233, 72);
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}

/*RARE*/

.rare-button-on {
    background-color: rgb(231, 45, 4);
    border: solid 2px rgb(231, 45, 4);

    color: white;
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}

.rare-button-off {
    background-color: white;
    color: rgb(231, 45, 4);
    border: solid 2px rgb(231, 45, 4);
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}

/*SUPER-RARE*/

.super-rare-button-on {
    background-color: rgb(2, 131, 245);
    border: solid 2px rgb(2, 131, 245);

    color: white;
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}

.super-rare-button-off {
    background-color: white;
    color: rgb(2, 131, 245);
    border: solid 2px rgb(2, 131, 245);
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}

/*UNIQUE*/

.unique-button-on {
    background-color: rgb(46, 46, 46);
    border: solid 2px rgb(46, 46, 46);

    color: white;
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}

.unique-button-off {
    background-color: white;
    color: rgb(46, 46, 46);
    border: solid 2px rgb(46, 46, 46);
    font-weight: bold;
    border-radius: 5px;

    box-shadow: 5px 3px 3px lightgray;
}