.best-cards-page {
    margin-left: 8%;
    margin-right: 8%;
}


.best-cards-page .best-cards-page-item h2 {
    color: rgb(30, 30, 70);
    text-align: center;
}


.best-cards-page-item-player-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}