
.limited {
    background-color: lightgoldenrodyellow;
}

.rare {
    background-color: lightpink;
}

.super-rare {
    background-color: lightskyblue;
}

.unique {
    background-color: lightgrey;
}

.card {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 10px;

    height: 120px;
    width: 450px;
}

.card div {
    margin-left: 10px;
}

th {
    text-align: left;
    width: 50px;
}

td {
    text-align: left;
    width: 140px;
}

table {
    margin: auto;
}