/*HOME PAGE*/

.home-page {
    margin-right: 10px;
    margin-left: 10px;

    background-image: url('../../../resources/images/project-background.jpg');
    background-position: center;
    height: 800px;
}