
.best-team-es-container {
    background-color: rgb(30, 30, 50);
    color: white;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}


.best-team-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border: solid 4px rgb(30, 30, 50);

    margin-bottom: 20px;
}



