.menu {
    position: fixed;
    width: 100%
}



/*NAVBAR*/

.menu nav {
    background-color: rgb(30, 30, 50);
    height: 50px;
}

.menu .navbar-left {
    float: left;
    height: 100%;
    display: flex;
    align-items: center;
    
    margin-left: 8%;
}

.menu .logo {
    color: white;
}

.menu .navbar-left h1 {
    color: white;
    font-weight: bold;
    font-size: 24px;

    margin-left: 8px;
}



.menu .navbar-right {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;

    margin-right: 8%;
}

.menu .navbar-right a {
    color: white;

    margin-left: 30px;

    border-radius: 5px;


    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.menu .navbar-right  a:hover {
    background-color: rgb(250, 250, 250, 0.1);
}


.menu .navbar-right > a.active {
    background-color: rgb(250, 250, 250, 0.25);
}




/*SEARCHBAR*/

.menu .searchbar {
    background-color: rgb(220, 220, 220);
    height: 35px;
}

.menu .searchbar form {
    height: 100%;
    margin-left: 8%;
    display: flex;
    align-items: center;
}

.menu .searchbar form input {
    border-radius: 5px;
    border: solid 1px black;
    margin-right: 8px;
}

.menu .searchbar form button {
    background-color: rgb(30, 30, 70);

    border-radius: 5px;
    border: solid 1px rgb(30, 30, 50);
    box-shadow: 2px 1px 1px rgb(30, 30, 50);
    color: white;
}