/*SEARCH MANAGER*/


.search-manager {
    border: solid 1px white;

    margin-left: 10%;
    margin-top: 40px;

    display: flex;
    justify-content: flex-start;
}

/*IMAGE*/

.search-manager .image-container img {
    width: 300px;
}

/*FORM*/

.search-manager .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 20px;
}

.search-manager h3 {
    font-size: 28px;
}



.search-manager input {
    margin-right: 20px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
}

input {
    background-color: blue;
}


/*TRANSITION*/

.transition-search-bestCards-1 {
    width: 100%;
    height: 100px;
    z-index: 2;


    background-color: white;
    border-bottom-left-radius: 100% 150px;
    border-bottom-right-radius: 100% 150px;


    position: relative;

}


.transition-search-bestCards-2 {
    width: 100%;
    height: 100px;
    z-index: 1;

    background: linear-gradient(0.25turn, rgb(30, 28, 78), rgb(247, 148, 29), rgb(244, 122, 173), rgb(247, 148, 29), rgb(30, 28, 78));

    margin-top: -80px;

    border-bottom-left-radius: 100% 150px;
    border-bottom-right-radius: 100% 150px;


    position: relative;

}

